.card{
    border-radius: 8px;
    border: 2px solid rgb(34, 118, 34);
  width: 100%;
  padding: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.clear-btn{
background-color: red;
padding: 5px 20px;
}
.edit-btn{
    background-color: blue;
    margin-left: 10px;
    padding: 5px 40px;
}


